<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/nav') %>
    <main>
        <h1>These are all of the scured items</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% for(let item of items) {%>
                <tr>
                    <th><%= item.id %></th>
                    <th><%= item.name %></th>
                </tr>
            <%}%>
        </table>
    </main>
</body>
</html>